.page{
  // overflow-x: hidden;
  &__body{
    overflow-x: hidden;
    &>section:not(.breadcrumbs){
      max-width: 100vw;
      overflow-x: hidden;
    }
  }
}

@media (max-width: 991px){
.footer {
  background: $gr-dark-blue;
}
}

@media(min-width: 1400px){
  .promo h1 {
    font-size: 36px;
    line-height: 44px;
  }
}