.top-services--modificated-ypay{
  .slider__item{
    @media(max-width: 375px){
      padding: 0px !important;
    }
}

section{
  @include ver-m(0px);
}


  & .top-services{

  &__title{
    @media(max-width: 1199.5px){
      display: block !important;
    }
  }
  &__item{
    &__image__wrapper{
      @media(max-width: 1199.5px){
        width: 100%;
      }
    }
    &__down-bar{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      &__price-block{
        width: fit-content;
        max-width: 45%;
        flex-wrap: wrap;
        margin-left: 0px;
        margin-right: 0px;
        &__price{
          width: 100%;
          margin: 0px;
          color: $black;
          order: 1;
        }
      }
      &__button{
        &--blue{
          width: 100%;
          order: 3;
        }
        &--link{
        margin-left: 0px;
        margin-right: 0px;
        &::before{
          @media(max-width: 374.5px){
            left: 20px;
          }
          @media(max-width: 350.5px){
            left: 15px;
          }
          @media(max-width: 330px){
            left: 10px;
          }
        }
        @media(max-width: 375px){
          width: 55%;
        }
        @media(max-width: 330px){
          font-size: 17px;
        }
        }
      }
    }
  }
  @media(min-width: 768px){
    &__item{
      &__down-bar{
      display: block;
      width: 100%;
      &__button{
        &--link{
          margin: 0 auto;
        }
      }
      }
    }
  }  
  @media(min-width: 1200px){
      &__item{
            &__down-bar{
              display: flex;
              &__price-block{
              width: 100%;
              max-width: 100%;
              }
              &__button{
                &--blue{
                  width: 50%;
                  order: 1;
                }
                &--link{
                  &::before{
                    bottom: 10px;
                    right: 75px;
                  }
                }
              }
        }
      }
    }
  }
}

// Extras

.top-services--modificated-ypay:not(.top-services--modificated-ypay-no-extras){

@media(min-width: 768px){
  .blue-ticket-hours{
    bottom: -65px;
  }
}



.highlighted-express-blue-red{
  margin-bottom: 5px;
}
@media(min-width: 1200px){
  .highlighted-express-blue-red{
    position: absolute;
    top: 20px;
    left: 30px
  }
  .blue-ticket-hours{
    bottom: -75px;
  }
}

.blue-ticket-hours{
  position: absolute;
  @include top-services-item-anti-padding;
}

  & .top-services{
      &__item{
        &__list{
          &__item{
            &:last-child{
              height: 20px;
              &::before{
                content: normal;
                padding: 0px;
              }
            }
          }
        }
      }

  @media(min-width: 768px){

        &__item{
          &__list{
            width: 100%;
            &__item{
              &:last-child{
                height: 0px;
                &::before{
                  content: normal;
                  padding: 0px;
                }
              }
            }
          }
    }
  }  
  }
}

// No Extras

.top-services--modificated-ypay-no-extras{
  & .top-services{
    @media(min-width: 768px) and (max-width: 1199.5px){
      &__item{
        &__down-bar{
          display: flex;
          &__button{
            &--link{
              margin: 0px;
            }
          }
          &__price-block{
            min-width: 0px;
          }
        }
      }
    }
  }
}


