.education-and-courses{
  @include need-a-shadow;
  .education-and-courses-down-banner{
    margin-bottom: 0px;
  }
  &__image{
    &-wrapper{
      position: relative;
      .blue-ticket-hours{
        position: absolute;
        @include top-services-item-anti-padding;
      }
    }
  }
  .top-services{
    &__title{
      &::before{
        content: normal;
      }
    }
    &__item{
      &__title{
        max-width: 81%;
        @media(max-width: 350px){
          font-size: 16px;
        }
        @media(min-width: 768px){
          max-width: 70%;
        }
      }
    &__list{
      &__item{
        @include tick-bullet-mobile-smaller;
      }
    }
    &__down-bar{
      &__button{
        &--link-brd{
          margin-top: 16px;
          @include blue-bordered-button;
          font-weight: 600;
          &::before, &::after{
            content: normal
          }
        }
      }
      &__price-block{
        display: flex;
        flex-wrap: wrap;
        &__price{
          width: 100%;
          color: $black;
          order: 2;
        }
      }
    }
  }
  }
  .slider {
    &__item{
      max-width: 100% !important;
    }
  }

  @media(min-width: 768px){
    .top-services{
      &__item{
        &__down-bar{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          @media(max-width: 1199.5px){
            width: 100%;
            align-items: end;
          }
          &__price-block{
            width: 100%;
            margin-top: 25px;
            margin-bottom: 20px;
          }
          &__button{
            &--link-brd, &--blue{
              width: 47.53%;
            }
            &--link-brd{
              order: 2;
            }
          }
        }
      }
    }
  }

  @media(min-width: 1200px){
    &>section{
      @include ver-m(0px);
    }
      .slider{
        &__item{
          width: 40.56% !important;
          max-width: 48.56% !important;
          min-width: 0px !important;
          margin-top: 0px !important;
          display: flex;
        }
      }
      .top-services{
        &__title{
          margin-bottom: 30px;
        }
        &__item{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          &__down-bar{
            &__button{
              &--link-brd{
                @include info-link-blue;
                &::before{
                  left: 0 !important;
                }
              }
            }
          }
        }
      }
  }
  .education-and-courses-down-banner{
    margin-top: 0px;
    position: relative;
  }
}