.education-for {
  @include standart-section-spacing;
  color: $black;
  @at-root{
    body.page__body section#{&}{
      overflow-x: visible !important;
    }
  }

  &__wrapper {

  }

  &__title {
      &::before{
        background: #F3F3F3;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: -35%;
        bottom: 0px;
        z-index: -1;
        border-radius: 0 30px 30px 0;
      }
      &__wrapper{
        margin-bottom: 16px;
      }
  }


  &__content, &__block-sm-wrapper {
    > div {
      @include item-spacing(15px);
      padding: 20px 15px;
      h3{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
      }
    }
  }

  .education-for__block-sm-wrapper{
    padding: 0px;
    margin: 0px;
    &>div{
      margin-bottom: 15px;
    }
  }

  &__block-sm {
    box-shadow: $main-shadow;
    border-radius: 30px;
    background: white;
    &__description{
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      margin: 0;
    }
  }

  &__block {
    box-shadow: $main-shadow;
    border-radius: 30px;
    background: white;
    &__description{
      margin: 0;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 10px;
    }
    &__list{
      padding: 0px;
      margin: 0px;
      &__item{
        list-style: none;
        padding-left: 15px;
        position: relative;
        &::before{
          position: absolute;
          content: '';
          top: calc(50% - 2.5px);
          left: 0px;
          width: 5px;
          height: 5px;
          background: $ui-blue;
          border-radius: 50%;
        }
      }
    }
  }
  @media(min-width: 768px){
    &__title {
      &__wrapper{
        margin-bottom: 30px !important;
      }
  }

  &__content, &__block-sm-wrapper {
    > div {
      @include item-spacing(0px);
      padding: 30px 20px;
      h3{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
      }
    }
  }

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .education-for__block-sm-wrapper{
    width: 47.88%;
    padding: 0px;
    margin: 0px;
    &>div{
      @include item-spacing(30px);
    }
  }



  &__block-sm {
    &__description{
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__block {
    width: 47.88%;
    &__description{
      font-size: 16px;
      line-height: 20px;
    }
    &__list{
      margin-left: 7px;
      &__item{
        font-size: 16px;
        line-height: 27px;
      }
    }
  }
  }
  @media(min-width: 1400px){
    &__title {
      &__wrapper{
        margin-bottom: 25px !important;
      }
  }

  &__content, &__block-sm-wrapper {
    > div {
      padding: 20px;
    }
  }

  &__content{
    width: 74.35%;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      background-image: url('../../images/cat.svg');
      width: 157.05px;
      height: 140.24px;
      right: -173.05px;
      bottom: 20px;
    }
  }

  .education-for__block-sm-wrapper{
    width: 42.52%;
  }





  &__block {
    width: 54%;
    &__description{
      font-size: 16px;
      line-height: 20px;
    }
    &__list{
      margin-left: 10px;
    }
  }
  }
}
